@{
    ViewData["Title"] = "Code Examples";
    ViewData["Description"] = "This illustrates a few code examples of how to make different features in html.";
}
<h2>@ViewData["Title"].</h2>
<h4>@ViewData["Description"]</h4>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div><a class="dropdown-item" href="#First">First</a></div>
    <div><a class="dropdown-item" href="#Second">Second</a></div>
    <div><a class="dropdown-item" href="#Third">Third</a></div>
  </div>
</div>

<select class="form-control">
    <option value="one">One</option>
    <option value="two">Two</option>
    <option value="three">Three</option>
    <option value="four">Four</option>
    <option value="five">Five</option>
</select>


<div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
  </div>
